@model IEnumerable<NoOperation_MVC.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-group">
  
        <a href="@Url.Action("Create", "Employee")" class="btn btn-info "><i class="fa fa-plus"></i>Add New </a>
    
</div>
<table class="table table-striped table-bordered table-hover @*table-checkable order-column valign-middle" id="example4*@">
    <thead>
        <tr>
            @*<th> Rest Id </th>*@
            <th>  FirstName </th>         
             <th> LastName </th>    
            <th> Email </th>    
            <th> Address </th>   
            <th> State </th>   
            <th> LGA </th>  
             <th> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr class="gradeX odd" role="row" id="row-@item.Id">

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.State.StateName)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.LGa.LGAName)
                </td>         
                    <td>
                        <a href="/Employee/Edit?id=@item.Id" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil"></i>Edit
                        </a>
                        @*<a href="#" class="js-cancel-restaurant" data-restaurant-id="@item.RestId" data-name="@item.RestName">Cancel</a>*@
                        <a href="#" class="btn btn-danger btn-xs" id="deleteaction" data-id="@item.Id" @*data-name="@item.FirstName"*@>
                            <i class="fa fa-trash-o "></i> Delete
                        </a>
                    </td>
                
            </tr>
        }
    </tbody>
</table>
@section Script{
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/toastr.js"></script>

    <script>
    $(function () {

        $(document).on('click', '#deleteaction', function (e) {
            e.preventDefault();

            $("html").removeClass("loading")
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            var empName = $(this).attr("data-name");
            if (recordToDelete !== '') {
                var confirmValue = confirm("Are you sure you want to delete this Name(s)? ");
                if (confirmValue) {

                    // Perform the ajax post DeleteFaculty(int id, string facultyName)
                    $.post("/Employee/Delete", { "id": recordToDelete, "empName": empName },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                            if (data.status == true) {
                                $("html").removeClass("loading")
                                $('#row-' + recordToDelete).fadeOut("slow", function () { $(this).remove(); });
                                toastr.success(data.message);
                            }
                            else {
                                $("html").removeClass("loading")
                                alert(data.error);
                            }
                        });
                }
                else {
                    $("html").removeClass("loading")
                    return;
                }
            }
        });

        });
    </script>

}


@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            <a href="#" id="deleteaction" data-id="@item.Id">
                <i class="fa fa-trash-o "></i>Delete
            </a>
                     
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>


    </tr>
}
</table>*@

@*<script>
    $(function () {

        $(document).on('click', '#deleteaction', function (e) {
            //$("html").addClass("loading");
            //alert("good to know")
            var recordTodelete = $(this).attr("data-id");
            //var empName = $(this).attr("name");
            if (recordTodelete !== '') {
                var confirmValue = confirm("Are you sure you want to delete this Record(s)? ");
                if (confirmValue) {

                    $.post("/Employee/Delete", { "id": recordTodelete, "empName": empName },
                        function (data) {
                            if (data.status == true) {
                                $('#row-' + recordTodelete).fadeOut("slow", function () { $(this).remove(); });
                                alert(data.message);
                            }
                            else {
                                alert(data.error);
                            }
                        }
                       );
                }
            }
        });
    });
    
</script>*@
